<nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Legal Match</label>
    <ul>
    <li><a class="active" href="#">Home</a></li>
    <li><a href="#">Education</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Login</a></li>
    </ul>
</nav>
<div class="header">
    <p>Legal</p>
    <p>Expertise</p>
    <p>At <b>Your</b> Digital</p>
    <p>Doorstep</p>
    <div class="search-field">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input
        type="text"
        placeholder="Search for Lawyers , Documents Writers ..."
    />
    </div>
</div>